<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="heading">
           <div class="reference">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
           </div>
            <h2 class='heading-h2'><span class="heading_font">Diabetes Predictor</span>
            </h2>

        </div>

         <!-- Text Area  -->
    	<div class="main" style="color: #ffff;">
            <a>This Software is used to predict if a person is having diabetes or not by accepting some parameters and makes the decision based on it</a>
            <br><br><br>
            <a>The following parameters are required to make the predections</a>
            <table style="position:relative;left:400px;border: snow;" border="1">
                <tbody style="text-align:left;">
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">Name of attributes</td>
                <td style="width: 378.484px; height: 23px;">Description</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">Pregnancies</td>
                <td style="width: 378.484px; height: 23px;">Number of times pregnant</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">
                <p>Glucose Level</p>
                </td>
                <td style="width: 378.484px; height: 23px;">Plasma glucose concentration a 2 hours in an oral glucose tolerance test</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">BloodPressure</td>
                <td style="width: 378.484px; height: 23px;">Diastolic blood pressure (mm Hg)</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">SkinThickness</td>
                <td style="width: 378.484px; height: 23px;">Triceps skin fold thickness (mm)</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">Insulin</td>
                <td style="width: 378.484px; height: 23px;">2-Hour serum insulin (mu U/ml)</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">BMI</td>
                <td style="width: 378.484px; height: 23px;">Body mass index (weight in kg/(height in m)^2)</td>
                </tr>
                <tr style="height: 23px;">
                <td style="width: 186px; height: 23px;">Diabetes pedigree function</td>
                <td style="width: 378.484px; height: 23px;">A function which scores likelihood of diabetes based on family history</td>
                </tr>
                <tr style="height: 29.5px;">
                <td style="width: 186px; height: 29.5px;">Age</td>
                <td style="width: 378.484px; height: 29.5px;">Age (years)</td>
                </tr>
                </tbody>
                </table>

	    </div>

         <!-- Footer -->
       <div class='footer'>
            <p class='footer-des'>⚠ This software is not validated by any organization use at your own risk</p>
        </div>
    </body>
</html>

</body>
</html>